version: '3.8'

services:
  playwright-tests:
    build:
      context: .
      dockerfile: Dockerfile
    image: playwright-test-ui
    working_dir: /app
    volumes:
      - .:/app 
    command: npx playwright test
    environment:
      - BASE_URL
      - USER_NAME
      - BASE_DIR
    env_file:
      - .env
